@import "./partials/navBar.scss";
@import "./partials/titleSection.scss";
@import "partials/aboutOurFood.scss";
@import "./partials/menuSection.scss";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-flex {
  display: flex;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}


.specialMenu{
  color: white;
  position: relative;
  height: 930px;
  img{
    width: 100%;
    height: 100%;
  }
  .speccialMenuCont{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 0;
    .titleCont{
      display: grid;
      justify-content: center;
      width: 100%;
      h1{
        margin: 0;
        font-size: 45px;
      }
      .titleUnderline {
        height: 5px;
        background-color: white;
        border: 0;
        width: 100%;
      }
    }
  }
}

.SpecialMenuCardCont{
  display: grid;
  grid-template-columns: auto auto;
  margin: 60px;
  margin-top: 10px;
  .SpecialMenuCard{
    display: grid;
    justify-content: center;
    grid-template-columns: 100%;
    background-color: rgba(69, 69, 69, 0.9);
    margin: 30px;
    padding: 40px 70px;
    img{
      height: 230px;
    }
    .specialMenuCardLorem{
      font-size: 25px;
    }
    .waitTime{
      font-size: 20px;
      margin-left: -60px;
    }
    .cost{
      font-size: 33px;
      color: #368c39;
      margin: 0;
    }
  }
}