@import "./partials/navBar.scss";
@import "./partials/titleSection.scss";
@import "partials/aboutOurFood.scss";
@import "./partials/menuSection.scss";
@import "./partials/specialMenuCard.scss";
@import "./partials/desertsSection.scss";
@import "./partials/aboutSection.scss";
@import "./partials/contactSection.scss";
@import "./partials/footer.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d-flex {
  display: flex;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}