.aboutOurFoodSection {
    background-color: #dad6d2;
    div {
      .aboutOurFoodImageCont {
        display: grid;
        justify-content: center;
        padding-top: 3em;
        img {
          width: 530px;
          height: 314px;
        }
      }
      .aboutOurFoodText {
        padding-top: 3em;
        h1 {
          font-size: 3em;
          font-weight: 500;
          margin: 0;
          margin-bottom: 5px;
        }
        h2 {
          font-weight: 400;
          margin: 0;
        }
        h3 {
          font-weight: 300;
        }
      }
    }
    .openingHours {
      padding-inline: 7em;
      padding-block-start: 5em;
      h1 {
        margin: 0;
        font-weight: 500;
        position: relative;
        left: 40%;
        width: fit-content;
        font-size: 40px;
      }
      .openingHoursCont {
        .openingHours1,
        .openingHours2 {
          display: grid;
          margin-top: 10px;
          justify-content: center;
          h3 {
            font-weight: 400;
            font-size: 21px;
          }
        }
      }
    }
  }
  